#cards-container{
    margin-top: 2rem;
    margin: auto;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(auto,1fr);
    column-gap: 2rem;
    row-gap: 2rem;
}